html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 2fr 9fr;
}

.sidebar {
    background-color: aquamarine;
    grid-column: 1 / 2;
    grid-row: 1/3;
}

.header {
    background-color: bisque;
}

.content {
    background-color: gray;
}